@charset "utf-8";
@font-face {
  font-family: "Dutch801 Rm BT";
  src: url(../DUTCH.woff) format("woff");
}
*, *:after, *:before{box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
body{width: 100%; height: 100%;}
/* PC */
  /* HEADER */
#header{width: 100%;
  position: fixed;
  border-bottom: 1px solid #ddd;
  background: #fff;
  z-index: 99999;}
.top_menu{height: 30px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  background: #302317;}
  .top_menu li{line-height: 30px;
    margin-right: 20px;
    color: #CABCB0;
    font-weight: bold;}
  .top_menu li:last-child{margin: 0;}
.top_menu li::after{content: "|";
  margin-left: 20px;}
.top_menu li:last-child::after{content: "";}
#lang{width: 80px;
  margin-left: -15px;
  text-align: center;
  color: #CABCB0;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  background: #302317;}
#lang:focus{outline: none;}
.navi{width: 100%; height: 80px;
  padding: 10px 0;
  color: #705B49;}
.logo{width: 20%; height: 60px;
  float: left;
  text-align: center;}
  .logo img{height: 50px;}
.menu{width: 80%;
  line-height: 60px;
  float: right;
  display: flex;
  position: relative;}
  .menu li{width: 12.5%;
    text-align: center;
    font-weight: bold;
    position: relative;}
  .menu li a:after{content: "";
    height: 3px;
    position: absolute; left: 10%; bottom: 10px; right: 90%;
    background: #705b49;
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);}
  .menu li a.active ~ .menu li a:after{left: 90%; right: 10%;}
  .menu li a.active:after{left: 10%; right: 10%;}
.resv a{color: #9A806A;}
.sub{width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  position: absolute; right: 0; top: 100px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;}
  .sub ul{width: 10%;
    vertical-align: top;}
  .sub li{padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
    font-weight: normal;}
.sub li:hover{color: #584839;
  text-decoration: underline;}

  /* FOOTER */
#footer{width: 100%;}
.top{width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  color: #FCEADB;
  background: #60564D;}
  .top li{margin-top: 10px;
    padding: 0 15px 0 10px;
    display: inline-block;
    font-size: 0.9rem;
    border-right: 2px solid #FCEADB;}
  .top li:last-child{border: none;}
.bold{font-weight: bold;}
.sns li{width: 27px; height: 27px;
  margin-right: 20px;
  border: none;
  transition: all .2s}
  .sns li div{width: 27px; height: 27px;}
.sns li:nth-child(1){background: url(../img/icon/kakao_white.png) no-repeat center;
  background-size: contain;
  transform: scale(120%);}
.sns li:nth-child(1):hover{background: url(../img/icon/kakao_color.png) no-repeat center;
  background-size: contain;}
.sns li:nth-child(2){background: url(../img/icon/facebook_white.png) no-repeat center;
  background-size: contain;}
.sns li:nth-child(2):hover{background: url(../img/icon/facebook_color.png) no-repeat center;
  background-size: contain;}
.sns li:nth-child(3){background: url(../img/icon/instagram_white.png) no-repeat center;
  background-size: contain;}
.sns li:nth-child(3):hover{background: url(../img/icon/instagram_color.png) no-repeat center;
  background-size: contain;}
.sns li:nth-child(4){background: url(../img/icon/tripadvisor_white.png) no-repeat center;
  background-size: contain;
  transform: scale(130%);}
.sns li:nth-child(4):hover{background: url(../img/icon/tripadvisor_color.png) no-repeat center;
  background-size: contain;}
.bottom{width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: #A79483;}
.data{line-height: 30px;
  color: #FCEADB;
  font-size: 0.9rem;}
  .data p{margin: 0 15px;
    display: inline-block;}
  .data span{color: #594839;
    font-weight: bold;}
.data a:hover{text-decoration: underline;}
.first{margin-left: 15px;}
  .first address{display: inline-block;
    font-style: normal;
    margin-right: 15px;}
.copyright{display: block!important;
  font-size: 0.9rem;}
.img a{margin: 0 10px;}
.design{width: 175px; height: 30px;}
.spg{width: 115px; height: 30px;}

/* TABLET */
  /* HEADER */
#theader{width: 100%;
  margin: 0;
  padding: 15px 0;
  position: fixed; top: 0;
  text-align: center;
  background: #fff;
  z-index: 9;}
.tlogo{display: inline-block;}
.menubar{position: absolute;
  right: 20px;
  display: inline-block;
  cursor: pointer;}
  .menubar span{width: 50px; height: 7px;
    margin: 10px 0;
    display: block;
    border-radius: 20px;
    background: #7E6956;}
#tnavi{width: 40%; height: 100%;
  position: fixed; right: -40%; top: 0;
  background: rgba(34, 30, 27, 0.9);
  transition: all .5s;
  z-index: 99;}
  #tnavi hr{margin: 0; padding: 0;}
#tnavi.open{position: fixed; right: 0; top: 0;}
.ttop{padding: 10px; display: flex; align-items: center; justify-content: space-between;}
  .ttop h2{float: left;
    margin-left: 15px;
    color: #f4f4f4;
    font-size: 1.5rem;}
  .ttop .logout{margin-left: 10px;
    padding: 5px;
    color: #fff;
    font-size: 0.8rem;
    border: 1px solid #fff;
    border-radius: 25px;}
  .ttop .xmark{width: 8%;
    float: right;
    cursor: pointer;}
.tmenu{margin: 20px 0 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;}
    .tmenu>li{
      padding: 20px 0 10px 20px;
      letter-spacing: 1px;}
    .tmenu a{display: block;
      position: relative;}
    .tmenu>li>a>span{width: 20px; height: 3px;
      position: absolute; right: 10px; top: 10px;
      background: #c8c8c8;}
.tmenu li a>span:nth-child(2){transform: rotate(-90deg);
  transition: all .5s;}
.tsub{padding: 5px;
  font-size: 0.9rem;
  text-indent: 10px;}
  .tsub li{padding: 5px;}

  /* FOOTER */
#tfooter{width: 100%;
  margin-top: 30px;}
.tftop{width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #FCEADB;
  background: #60564D;}
  .tftop ul{width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;}
  .tftop li{margin: 5px 0;
    padding: 0 20px;
    display: inline-block;
    font-size: 0.9rem;
    border-right: 2px solid #FCEADB;}
  .tftop li:last-child{border: none;}
.bold{font-weight: bold;}
.tfbottom{width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  align-items: flex-end;
  background: #A79483;}
.tsns{width: 100%;}
.tsns li{width: 27px; height: 27px;
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  border: none;
  transition: all .2s}
  .tsns li div{width: 27px; height: 27px;}
.tsns li:nth-child(1){background: url(../img/icon/kakao_white.png) no-repeat center;
  background-size: contain;
  transform: scale(120%);}
.tsns li:nth-child(1):hover{background: url(../img/icon/kakao_color.png) no-repeat center;
  background-size: contain;}
.tsns li:nth-child(2){background: url(../img/icon/facebook_white.png) no-repeat center;
  background-size: contain;}
.tsns li:nth-child(2):hover{background: url(../img/icon/facebook_color.png) no-repeat center;
  background-size: contain;}
.tsns li:nth-child(3){background: url(../img/icon/instagram_white.png) no-repeat center;
  background-size: contain;}
.tsns li:nth-child(3):hover{background: url(../img/icon/instagram_color.png) no-repeat center;
  background-size: contain;}
.tsns li:nth-child(4){background: url(../img/icon/tripadvisor_white.png) no-repeat center;
  background-size: contain;
  transform: scale(130%);}
.tsns li:nth-child(4):hover{background: url(../img/icon/tripadvisor_color.png) no-repeat center;
  background-size: contain;}
.tdata{width: 65%;
  margin: 10px auto;
  text-align: center;
  color: #FCEADB;
  font-size: 0.9rem;}
  .tdata li{width: 49%;
    margin: 5px auto;
    display: inline-block;
    text-align: left;}
  .tdata li:first-child, .tdata li:last-child{width: 99%;
    display: block;
    text-align: center;}
  .tdata span{margin-right: 10px;
    color: #594839;
    font-weight: bold;}
  .tdata address{display: inline-block;
    font-style: normal;
    margin-right: 15px;}
.tdata a:hover{text-decoration: underline;}
.timg{width: 100%;
  margin: 10px auto 0;
  text-align: center;}
  .timg a{margin: 0 10px;}
.tdesign{width: 135px; height: 20px;}
.tspg{width: 65px; height: 20px;}

/* Mobile */
  /* HEADER */
#mheader{width: 100%;
  margin: 0;
  padding: 15px 0;
  position: fixed; top: 0;
  text-align: center;
  background: #fff;
  z-index: 9;}
.mlogo{display: inline-block;}
  .mlogo img{width: 70%;}
.mham{position: absolute; right: 20px;
  display: inline-block;
  cursor: pointer;}
  .mham span{width: 30px; height: 3px;
    margin: 7px 0;
    display: block;
    border-radius: 20px;
    background: #7E6956;}
#mnavi{width: 60%; height: 100%;
  position: fixed; right: -60%; top: 0;
  background: rgba(34, 30, 27, 0.9);
  transition: all .5s;
  z-index: 99;}
  #mnavi hr{margin: 0; padding: 0;}
#mnavi.open{position: fixed; right: 0; top: 0;}
.mtop{width: 100%; height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;}
  .mtop h2{margin-left: 20px;
    color: #f4f4f4;
    font-size: 1.3rem;}
  .mtop .logout{padding: 5px;
    line-height: 16px;
    color: #fff;
    font-size: 0.8rem;
    border: 1px solid #fff;
    border-radius: 25px;}
  .mtop .mxmark{width: 7%;
    margin-right: 10px;
    cursor: pointer;}
.mmenu{margin: 20px 0 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;}
    .mmenu>li{
      padding: 10px 0 10px 10px;
      letter-spacing: 1px;}
    .mmenu a{display: block;
      position: relative;}
    .mmenu>li>a>span{width: 15px; height: 2px;
      position: absolute; right: 10px; top: 10px;
      background: #c8c8c8;}
.mmenu li a>span:nth-child(2){transform: rotate(-90deg);
  transition: all .5s;}
.msub{padding: 5px;
  font-size: 0.9rem;
  text-indent: 10px;}
  .msub li{padding: 5px 0;}

  /* FOOTER */
#mfooter{width: 100%;
  margin: 0 auto;}
.mftop{width: 100%;
  margin: 50px auto 0;
  padding: 5px 0;
  text-align: center;
  color: #FCEADB;
  background: #60564D;}
  .mftop ul{width: 100%;
    margin: 0 auto;}
  .mftop li{margin: 5px 0;
    padding-left: 5px;
    padding-right: 10px;
    display: inline-block;
    font-size: 0.8rem;
    border-right: 2px solid #FCEADB;}
  .mftop li:last-child{border: none;}
.bold{font-weight: bold;}
.mfbottom{width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  align-items: flex-end;
  background: #A79483;}
.msns{width: 100%;}
.msns li{width: 24px; height: 24px;
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  border: none;
  transition: all .2s}
  .msns li div{width: 24px; height: 24px;}
.msns li:nth-child(1){background: url(../img/icon/kakao_white.png) no-repeat center;
  background-size: contain;
  transform: scale(120%);}
.msns li:nth-child(1):hover{background: url(../img/icon/kakao_color.png) no-repeat center;
  background-size: contain;}
.msns li:nth-child(2){background: url(../img/icon/facebook_white.png) no-repeat center;
  background-size: contain;}
.msns li:nth-child(2):hover{background: url(../img/icon/facebook_color.png) no-repeat center;
  background-size: contain;}
.msns li:nth-child(3){background: url(../img/icon/instagram_white.png) no-repeat center;
  background-size: contain;}
.msns li:nth-child(3):hover{background: url(../img/icon/instagram_color.png) no-repeat center;
  background-size: contain;}
.msns li:nth-child(4){background: url(../img/icon/tripadvisor_white.png) no-repeat center;
  background-size: contain;
  transform: scale(130%);}
.msns li:nth-child(4):hover{background: url(../img/icon/tripadvisor_color.png) no-repeat center;
  background-size: contain;}
.mdata{width: 90%;
  margin: 10px auto;
  text-align: center;
  color: #FCEADB;
  font-size: 0.8rem;}
  .mdata li{width: 100%;
    margin: 5px auto;
    text-align: left;}
  .mdata span{margin-right: 10px;
    color: #594839;
    font-weight: bold;}
  .mdata address{display: inline-block;
    font-style: normal;
    margin-right: 15px;}
.mdata a:hover{text-decoration: underline;}
.mimg{width: 100%;
  margin: 10px auto 0;
  text-align: center;}
  .mimg a{margin: 0 10px;}
.mdesign{width: 115px; height: 20px;}
.mspg{width: 65px; height: 20px;}