@charset "utf-8";
@font-face {
  font-family: "Dutch801 Rm BT";
  src: url(../DUTCH.woff) format("woff");
}
*, *:after, *:before{box-sizing: border-box;}

#Tablet{display: none;}
#Mobile{display: none;}
#PC{display: block;}

#login{width: 90%;
  margin: 0 auto;
  padding-top: 200px;
  margin-bottom: 116px;}
  #login h2{color: #504135;
    letter-spacing: 1px;}
  #login hr{margin: 20px 0;}
.intro{color: #504135;
    font-family: 'batang';
    font-weight: bold;}
.form{margin-top: 100px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;}
  .form p{width: 20%;
    margin-right: 20px;
    display: inline-block;}
  .form button{width: 6%;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #A79483;
    background: #cabaad;}
.form button:hover{background: #A79483;
  cursor: pointer;}
.account{width: 100%; height: 40px;
    display: block;}
.account:last-child{margin-top: 10px;}
.chk{width: 26%;
  margin: 10px auto;}
  .chk input, .chk label{margin: 0;
    font-size: 0.9rem;}
.else{width: 50%;
  margin: 70px auto;
  display: flex;
  justify-content: space-evenly;}
  .else li{color: #505050;
    font-size: 0.9rem;
    font-weight: bold;
    background: #cccccc;}
  .else li:first-child{background: #c9b8a9;}
  .else li a{display: block; padding: 10px 30px;}
.else li:hover{color: #000;}

@media screen and (min-width: 641px) and (max-width: 1023px){
  #PC{display: none;}
  #Tablet{display: block;}
  #Mobile{display: none;}
  .logout{margin-left: 10px;
    padding: 5px;
    line-height: 42px;
    color: #fff;
    font-size: 0.8rem;
    border: 1px solid #fff;
    border-radius: 50%;}

  #tlogin{width: 100%;
    margin-top: 100px;
    text-align: center;}
    #tlogin h2{width: 100%;
      padding: 20px 0;
      color: #3a2f26;
      letter-spacing: 1px;
      background: #cabaad;}
  .tintro{width: 100%;
    padding-bottom: 20px;
    color: #3a2f26;
    font-family: "Dutch801 Rm BT", "Arial";
    font-weight: bold;
    background: #cabaad;}
  .tform{width: 100%;
    margin-top: 30px;}
    .tform p{width: 40%;
      margin: 0 auto;}
    .tform button{width: 40%; height: 40px;
      display: block;
      margin: 30px auto 10px;
      font-size: 0.9rem;
      font-weight: bold;
      border: 1px solid #A79483;
      border-radius: 5px;
      background: #cabaad;}
  .tform button:hover{background: #A79483;
    cursor: pointer;}
  .taccount{width: 100%; height: 40px;
    display: block;
    border: 1px solid #808080;
    border-radius: 5px;
    text-indent: 10px;}
  .taccount:last-child{margin: 20px 0 10px;}
  .tchk{text-align: left;}
    .tchk input, .tchk label{margin: 0;
      font-size: 0.8rem;}
  .tjoin{width: 40%;
    margin: 30px auto 0;
    padding: 10px 30px;
    color: #505050;
    font-size: 0.9rem;
    font-weight: bold;
    border: 1px solid #A79483;
    border-radius: 3px;
    background: #c9b8a9;}
  .tjoin:hover{background: #A79483;
    cursor: pointer;
    color: #000;}
  .telse{width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;}
    .telse li{width: 50%;
      margin: 5px 0;
      padding: 10px 30px;
      display: inline-block;
      color: #505050;
      font-size: 0.9rem;
      font-weight: bold;
      border-radius: 3px;
      background: #cccccc;}
    .telse li:first-child{margin-right: 5px;}
  .telse li:hover{color: #000;}

  
}

@media screen and (max-width: 640px){
  #PC{display: none;}
  #Tablet{display: none;}
  #Mobile{display: block;}

  #mlogin{width: 100%;
    margin-top: 80px;
    text-align: center;}
    #mlogin h2{width: 100%;
      padding: 10px 0;
      color: #3a2f26;
      letter-spacing: 1px;
      background: #cabaad;}
  .mintro{width: 100%;
    padding-bottom: 10px;
    color: #3a2f26;
    font-family: "Dutch801 Rm BT", "Arial";
    font-weight: bold;
    background: #cabaad;}
  .mform{width: 100%;
    margin-top: 30px;}
    .mform p{width: 80%;
      margin: 0 auto;}
    .mform button{width: 80%; height: 40px;
      display: block;
      margin: 30px auto 10px;
      font-size: 0.9rem;
      font-weight: bold;
      border: 1px solid #A79483;
      border-radius: 5px;
      background: #cabaad;}
  .mform button:hover{background: #A79483;
    cursor: pointer;}
  .maccount{width: 100%; height: 40px;
    display: block;
    border: 1px solid #808080;
    border-radius: 5px;
    text-indent: 10px;}
  .maccount:last-child{margin: 20px 0 10px;}
  .mchk{text-align: left;}
    .mchk input, .mchk label{margin: 0;
      font-size: 0.8rem;}
  .mjoin{width: 80%;
    margin: 20px auto 0;
    padding: 10px 30px;
    color: #505050;
    font-size: 0.9rem;
    font-weight: bold;
    border: 1px solid #A79483;
    border-radius: 3px;
    background: #c9b8a9;}
  .mjoin:hover{background: #A79483;
    cursor: pointer;
    color: #000;}
  .melse{width: 80%;
    margin: 1px auto 0;
    display: flex;
    justify-content: center;}
    .melse li{width: 50%;
      margin: 5px 0;
      padding: 10px 30px;
      display: inline-block;
      color: #505050;
      font-size: 0.9rem;
      font-weight: bold;
      border-radius: 3px;
      background: #cccccc;}
    .melse li:first-child{margin-right: 5px;}
  .melse li:hover{color: #000;}
}