@charset "utf-8";

*, *:after, *:before{box-sizing: border-box;}
@media screen and (min-width: 1024px) {
  #header{display: block;}
  #theader{display: none;}
  #tnavi{display: none;}
  #mheader{display: none;}
  #mnavi{display: none;}
  #footer{display: block;}
  #tfooter{display: none;}
  #mfooter{display: none;}
  
  #join{width: 90%;
    margin: 0 auto;
    padding-top: 200px;
    margin-bottom: 116px;}
    #join h2{color: #504135;
      letter-spacing: 1px;}
    #join hr{margin: 20px 0;}
    #join form{width: 100%;
      text-align: center;}
  .intro{margin-bottom: 50px;
    color: #504135;
    font-size: 0.9rem;
    font-weight: bold;}
  .must{width: 50%;
    margin: 30px auto;
    text-align: left;
    font-size: 0.9rem;}
  .join_form{width: 50%;
    margin: 0 auto;
    text-align: left;}
    .join_form>li{width: 100%;
      margin: 20px 0;
      display: flex;
      justify-content: space-between;}
    .join_form p{display: inline-block;
      font-size: 0.9rem;}
    .join_form>li>input{width: 50%; height: 35px;
      font-size: 0.7rem;
      text-indent: 10px;}
  .id{width: 100%; height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;}
  .id li{display: inline-block;}
  .id li:first-child{font-size: 0.9rem;}
  .id li:last-child{width: 50%;}
  .id input{height: 35px;
    font-size: 0.7rem;
    text-indent: 10px;}
  .id button{height: 35px;
    vertical-align: middle;
    font-size: 0.8rem}
  #btn{width: 80%;
    margin: 50px auto 20px;}
    #btn button{width: 100px; height: 35px;
      margin-right: 20px;
      font-size: 0.8rem;
      font-weight: bold;
      background: #cabaad;
      border: 1px solid #A79483;}
  #btn button:hover{background: #A79483;
    cursor: pointer;} 
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
  #header{display: none;}
  #theader{display: block;}
  #tnavi{display: block;}
  #mheader{display: none;}
  #mnavi{display: none;}
  #footer{display: none;}
  #tfooter{display: block;}
  #mfooter{display: none;}
  .logout{margin-left: 10px;
    padding: 5px;
    line-height: 42px;
    color: #fff;
    font-size: 0.8rem;
    border: 1px solid #fff;
    border-radius: 50%;}

  #theader{width: 100%;
    margin: 20px 0 10px;
    text-align: center;
    position: relative;}
  .tlogo{display: inline-block;}
  .menubar{position: absolute;
    right: 20px;
    display: inline-block;
    cursor: pointer;}
    .menubar span{width: 50px; height: 7px;
      margin: 10px 0;
      display: block;
      border-radius: 20px;
      background: #7E6956;}
  #tnavi{width: 40%; height: 100%;
    position: fixed; right: -40%; top: 0;
    background: rgba(34, 30, 27, 0.9);
    transition: all .5s;
    z-index: 99;}
    #tnavi hr{margin: 0; padding: 0;}
  #tnavi.open{position: fixed; right: 0; top: 0;}
  .ttop{padding: 10px}
    .ttop h2{float: left;
      margin-left: 15px;
      color: #f4f4f4;
      font-size: 2rem;}
    .ttop .xmark{width: 8%;
      float: right;
      margin-top: 10px;
      margin-right: 5px;
      cursor: pointer;}
  .tmenu{margin: 20px 0 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;}
      .tmenu>li{
        padding: 20px 0 10px 20px;
        letter-spacing: 1px;}
      .tmenu a{display: block;
        position: relative;}
      .tmenu>li>a>span{width: 20px; height: 3px;
        position: absolute; right: 10px; top: 10px;
        background: #c8c8c8;}
  .tmenu li a>span:nth-child(2){transform: rotate(-90deg);
    transition: all .5s;}
  .tsub{padding: 5px;
    font-size: 0.9rem;
    text-indent: 10px;}
    .tsub li{padding: 5px;}

  .tjoin{width: 100%;
    margin: 0 auto;
    text-align: center;}
    .tjoin h2{width: 100%;
      padding: 20px 0;
      color: #3a2f26;
      letter-spacing: 1px;
      background: #cabaad;}
  .tjoin form{width: 100%;}
  .tintro{width: 100%;
    padding-bottom: 20px;
    color: #3a2f26;
    font-family: "Dutch801 Rm BT", "Arial";
    font-weight: bold;
    background: #cabaad;}
  .tmust{width: 90%;
    margin: 30px auto;
    text-align: left;
    color: #3a2f26;
    font-size: 0.9rem;}
  .tjoin_form{width: 100%;
    margin: 0 auto;}
    .tjoin_form>li{width: 90%; height: 40px;
      margin: 20px auto;
      line-height: 40px;
      display: flex;
      justify-content: space-between;}
    .tjoin_form p{
      font-size: 0.9rem;}
    .tjoin_form>li>input{
      width: 50%; height: 40px;
      font-size: 0.7rem;
      text-indent: 10px;}
  .tid{width: 100%; height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;}
    .tid li:last-child{width: 50%;
      text-align: left;}
  .tid input{height: 40px;
    font-size: 0.7rem;
    text-indent: 10px;}
  .tid button{height: 40px;
    vertical-align: middle;
    font-size: 0.8rem}
  .tbtn{width: 80%;
    margin: 20px auto;}
    .tbtn button{width: 30%; height: 35px;
      margin-right: 20px;
      font-size: 0.8rem;
      font-weight: bold;
      background: #cabaad;
      border: 1px solid #A79483;}
  .tbtn button:hover{background: #A79483;
    cursor: pointer;}

  #tfooter{width: 100%;
    margin: 0 auto;}
  .tftop{width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #FCEADB;
    background: #60564D;}
    .tftop ul{width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;}
    .tftop li{margin: 5px 0;
      padding: 0 20px;
      display: inline-block;
      font-size: 0.9rem;
      border-right: 2px solid #FCEADB;}
    .tftop li:last-child{border: none;}
  .bold{font-weight: bold;}
  .tfbottom{width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    align-items: flex-end;
    background: #A79483;}
  .tsns{width: 100%;}
  .tsns li{width: 27px; height: 27px;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    border: none;
    transition: all .2s}
    .tsns li div{width: 27px; height: 27px;}
  .tsns li:nth-child(1){background: url(../img/icon/kakao_white.png) no-repeat center;
    background-size: contain;
    transform: scale(120%);}
  .tsns li:nth-child(1):hover{background: url(../img/icon/kakao_color.png) no-repeat center;
    background-size: contain;}
  .tsns li:nth-child(2){background: url(../img/icon/facebook_white.png) no-repeat center;
    background-size: contain;}
  .tsns li:nth-child(2):hover{background: url(../img/icon/facebook_color.png) no-repeat center;
    background-size: contain;}
  .tsns li:nth-child(3){background: url(../img/icon/instagram_white.png) no-repeat center;
    background-size: contain;}
  .tsns li:nth-child(3):hover{background: url(../img/icon/instagram_color.png) no-repeat center;
    background-size: contain;}
  .tsns li:nth-child(4){background: url(../img/icon/tripadvisor_white.png) no-repeat center;
    background-size: contain;
    transform: scale(130%);}
  .tsns li:nth-child(4):hover{background: url(../img/icon/tripadvisor_color.png) no-repeat center;
    background-size: contain;}
  .tdata{width: 65%;
    margin: 10px auto;
    text-align: center;
    color: #FCEADB;
    font-size: 0.9rem;}
    .tdata li{width: 49%;
      margin: 5px auto;
      display: inline-block;
      text-align: left;}
    .tdata li:first-child, .tdata li:last-child{width: 99%;
      display: block;
      text-align: center;}
    .tdata span{margin-right: 10px;
      color: #594839;
      font-weight: bold;}
    .tdata address{display: inline-block;
      font-style: normal;
      margin-right: 15px;}
  .tdata a:hover{text-decoration: underline;}
  .timg{width: 100%;
    margin: 10px auto 0;
    text-align: center;}
    .timg a{margin: 0 10px;}
  .tdesign{width: 135px; height: 20px;}
  .tspg{width: 65px; height: 20px;}
}

@media screen and (max-width: 640px) {
  #header{display: none;}
  #theader{display: none;}
  #tnavi{display: none;}
  #mheader{display: block;}
  #mnavi{display: block;}
  #footer{display: none;}
  #tfooter{display: none;}
  #mfooter{display: block;}

  #mheader{width: 100%;
    margin-top: 10px;
    text-align: center;
    position: relative;}
  .mlogo{display: inline-block;}
    .mlogo img{width: 70%;}
  .mham{position: absolute; right: 20px;
    display: inline-block;
    cursor: pointer;}
    .mham span{width: 30px; height: 3px;
      margin: 7px 0;
      display: block;
      border-radius: 20px;
      background: #7E6956;}
  #mnavi{width: 60%; height: 100%;
    position: fixed; right: -60%; top: 0;
    background: rgba(34, 30, 27, 0.9);
    transition: all .5s;
    z-index: 99;}
    #mnavi hr{margin: 0; padding: 0;}
  #mnavi.open{position: fixed; right: 0; top: 0;}
  .mtop{width: 100%; height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;}
    .mtop h2{margin-left: 20px;
      color: #f4f4f4;
      font-size: 1.3rem;}
    .mtop .mxmark{width: 7%;
      margin-right: 10px;
      cursor: pointer;}
  .mmenu{margin: 20px 0 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;}
      .mmenu>li{
        padding: 10px 0 10px 10px;
        letter-spacing: 1px;}
      .mmenu a{display: block;
        position: relative;}
      .mmenu>li>a>span{width: 15px; height: 2px;
        position: absolute; right: 10px; top: 10px;
        background: #c8c8c8;}
  .mmenu li a>span:nth-child(2){transform: rotate(-90deg);
    transition: all .5s;}
  .msub{padding: 5px;
    font-size: 0.9rem;
    text-indent: 10px;}
    .msub li{padding: 5px 0;}

  .mjoin{width: 100%;
    margin: 0 auto;
    text-align: center;}
    .mjoin h2{width: 100%;
      padding: 10px 0;
      color: #3a2f26;
      letter-spacing: 1px;
      background: #cabaad;}
  .mjoin form{width: 100%;}
  .mintro{width: 100%;
    padding-bottom: 20px;
    color: #3a2f26;
    font-size: 0.9rem;
    font-family: "Dutch801 Rm BT", "Arial";
    font-weight: bold;
    background: #cabaad;}
  .mmust{width: 90%;
    margin: 30px auto;
    text-align: left;
    color: #3a2f26;
    font-size: 0.9rem;}
  .mjoin_form{width: 100%;
    margin: 0 auto;}
    .mjoin_form>li{width: 90%; height: 40px;
      margin: 20px auto;
      line-height: 40px;
      display: flex;
      justify-content: space-between;}
    .mjoin_form p{font-size: 0.9rem;}
    .mjoin_form>li>input{
      width: 70%; height: 40px;
      font-size: 0.7rem;
      text-indent: 10px;}
  .mid{width: 100%; height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;}
    .mid li:last-child{width: 70%;
      text-align: left;}
  .mid input{height: 40px;
    font-size: 0.7rem;
    text-indent: 10px;}
  .mid button{height: 40px;
    vertical-align: middle;
    font-size: 0.8rem}
  .mbtn{width: 80%;
    margin: 20px auto;}
    .mbtn button{width: 30%; height: 35px;
      margin-right: 20px;
      font-size: 0.8rem;
      font-weight: bold;
      background: #cabaad;
      border: 1px solid #A79483;}
  .mbtn button:hover{background: #A79483;
    cursor: pointer;}

  #mfooter{width: 100%;
    margin: 0 auto;}
  .mftop{width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    color: #FCEADB;
    background: #60564D;}
    .mftop ul{width: 100%;
      margin: 0 auto;}
    .mftop li{margin: 5px 0;
      padding-left: 5px;
      padding-right: 10px;
      display: inline-block;
      font-size: 0.8rem;
      border-right: 2px solid #FCEADB;}
    .mftop li:last-child{border: none;}
  .bold{font-weight: bold;}
  .mfbottom{width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    align-items: flex-end;
    background: #A79483;}
  .msns{width: 100%;}
  .msns li{width: 24px; height: 24px;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    border: none;
    transition: all .2s}
    .msns li div{width: 24px; height: 24px;}
  .msns li:nth-child(1){background: url(../img/icon/kakao_white.png) no-repeat center;
    background-size: contain;
    transform: scale(120%);}
  .msns li:nth-child(1):hover{background: url(../img/icon/kakao_color.png) no-repeat center;
    background-size: contain;}
  .msns li:nth-child(2){background: url(../img/icon/facebook_white.png) no-repeat center;
    background-size: contain;}
  .msns li:nth-child(2):hover{background: url(../img/icon/facebook_color.png) no-repeat center;
    background-size: contain;}
  .msns li:nth-child(3){background: url(../img/icon/instagram_white.png) no-repeat center;
    background-size: contain;}
  .msns li:nth-child(3):hover{background: url(../img/icon/instagram_color.png) no-repeat center;
    background-size: contain;}
  .msns li:nth-child(4){background: url(../img/icon/tripadvisor_white.png) no-repeat center;
    background-size: contain;
    transform: scale(130%);}
  .msns li:nth-child(4):hover{background: url(../img/icon/tripadvisor_color.png) no-repeat center;
    background-size: contain;}
  .mdata{width: 90%;
    margin: 10px auto;
    text-align: center;
    color: #FCEADB;
    font-size: 0.8rem;}
    .mdata li{width: 100%;
      margin: 5px auto;
      text-align: left;}
    .mdata span{margin-right: 10px;
      color: #594839;
      font-weight: bold;}
    .mdata address{display: inline-block;
      font-style: normal;
      margin-right: 15px;}
  .mdata a:hover{text-decoration: underline;}
  .mimg{width: 100%;
    margin: 10px auto 0;
    text-align: center;}
    .mimg a{margin: 0 10px;}
  .mdesign{width: 115px; height: 20px;}
  .mspg{width: 65px; height: 20px;}
}